# PHPStorm
.idea

# OSX
.DS_Store

# Composer
vendor/
composer.lock

# Build stuff
.build/
node_modules/

# Cache
.php-cs-fixer.cache
.phplint.cache
.phpunit.result.cache
.phpunit.cache

# Custom
resources/js/webtrees-statistics.js
# Allow minified file
!resources/js/webtrees-statistics.min.js
webtrees-statistic.zip

# Playwright
.playwright-mcp/
